:root{
    --hlOrange: #fb7f13;
}

body{
    font-family: 'Roboto', sans-serif;
}

.txt-italic{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
}

h5, h4, h2{
    font-weight: 700 !important;
    
}

.banner {
    background-image: url(../img/outerspace-53.gif);
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.w-20{
    width: 20% !important;
}

.color-naranja{
    color: rgb(255, 153, 0) !important;
}

.color-gris{
    color: azure;
}

.skill {
    width: 100px; /* Ancho deseado */
    height: 100px; /* Alto deseado */
    transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out; /* Agrega transiciones suaves */
  
    /* Estilos iniciales */
    fill: blue; /* Color inicial */
  }
  
  .skill:hover {
    transform: scale(1.2); /* Aumenta el tamaño al colocar el mouse sobre el elemento */
    fill: orange; /* Cambia el color a naranja */
  }
  

  